*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.global-container {
  display: flex;
  min-height: 100vh;
}

/*======= Left Section =======*/
.left-section {
  flex: 1 1 33.333%; /* flex-grow flex-shrink flex-basis*/
  padding: 25px;
}

.left-section h1 {
  color: #8b97d7;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 50px;
}

.left-section h1 strong {
  color: #5260ad;
  font-weight: 900;
}

.form-block h3 {
  color: #232323;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 45px;
}

.form-block .form-group {
  position: relative;
  display: flex;
  margin-bottom: 45px;
}

.form-block .form-group label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.form-block .form-group input {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #232323;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.form-group:nth-child(4) {
  margin-bottom: 25px;
  justify-content: flex-end;
}

.form-block .form-group .login-input {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid #8b97d7;
  border-radius: 999px;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    #5260ad,
    #8b97d7
  );
  background-size: 200%;
  color: #8b97d7;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

.form-block .form-group .login-input:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #fff;
}

.form-block .lost-password a {
  color: #8b97d7;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.form-block .lost-password a:hover {
  border-bottom-color: #8b97d7;
}

/* ====== Right Section ======= */

.right-section {
  flex: 1 1 66.666%;
  background-image: linear-gradient(to bottom right, #95a6f3, #707192);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-section h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}


/* ========== Animations ========== */
.form-block .form-group:focus-within label {
    top: 0;
    transform: translateY(-100%);
    color: #8b97d7;
}

.form-block .form-group:focus-within input {
    border-bottom-color: #8b97d7;
}

/* ========= Media Queries ======== */
@media screen and (max-width: 1200px) {
  .global-container {
    flex-direction: column;
    min-height: 100vh;
    width: 100vw !important;
    align-items: center;
  }
  .right-section{
      display: none;
  }
  .left-section{
      width: 70vw!important;
  }
}

@media screen and (max-width: 700px) {
    .left-section {
        width: 80vw!important;
    }
    .form-block .form-group .login-input {
        margin: 0 auto;
    }
    .lost-password {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .left-section {
        width: 100vw!important;
    }
}