*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.global-container {
  display: flex;
  min-height: 100vh;
}

/*======= Left Section =======*/
.left-section {
  flex: 1 1 33.333%; /* flex-grow flex-shrink flex-basis*/
  padding: 25px;
}

.left-section h1 {
  color: #8b97d7;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 50px;
}

.left-section h1 strong {
  color: #5260ad;
  font-weight: 900;
}

.form-block h3 {
  color: #232323;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 45px;
}

.form-block .form-group {
  position: relative;
  display: flex;
  margin-bottom: 45px;
}

.form-block .form-group label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.form-block .form-group input {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #232323;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.form-group:nth-child(4) {
  margin-bottom: 25px;
  justify-content: flex-end;
}

.form-block .form-group .login-input {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid #8b97d7;
  border-radius: 999px;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    #5260ad,
    #8b97d7
  );
  background-size: 200%;
  color: #9b97d7;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}


